{{>header}}
{{>navFile}}
<section>
    <div class="row p-3">
        {{#each data}}
        <div class="col-3">
            <div class="card">
                <img src="{{this.image}}" class="card-img-top img-fluid" alt="...">
                <div class="card-body">
                    <h5 class="card-title">{{this.name}}</h5>
                    <p class="card-text">{{this.desc}}</p>
                    <a href="/{{this.id}}" class="btn btn-primary">Go somewhere</a>
                </div>
            </div>
        </div>
        {{/each}}
    </div>
</section>

{{>footer}}